 
 
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Cadastro</h5>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"form-signin"}) do |f| %>
              <%= f.fields_for(:profile_member) do |profile_fields| %>
                <div class="form-label-group">                  
                  <%= profile_fields.text_field :first_name, autofocus: true, class: "form-control", placeholder:"Primeiro Nome" %>
                  <%= profile_fields.label :first_name %>

                </div>
                
                <div class="form-label-group">
                  <%= profile_fields.text_field :second_name, class: "form-control", placeholder:"Segundo Nome" %>
                  <%= profile_fields.label :second_name %>
                </div>
              <% end %>
              
              <div class="form-label-group">
                <%= f.email_field :email, autocomplete: "email",  class:"form-control", placeholder:"Endereço de E-mail" %>                                      
                <%= f.label :email %>
              </div>
              
              <hr>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Senha" %>
                <%= f.label :password %>
              </div>
              
              <div class="form-label-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmação de senha" %>
                <%= f.label :password_confirmation %>
              </div>

              
              <%= f.submit "Cadastrar", class:"btn btn-lg btn-primary btn-block text-uppercase" %>
              <%= link_to  "Entrar", new_member_session_path, class:"d-block text-center mt-2 small" %>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" ><%= fa_icon "google mr-2"%></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase"><%= fa_icon "facebook-f mr-2"%></i> Sign in with Facebook</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


<% flash.each do |key, value|%>
    <%= javascript_tag "$.notify({ message: '#{alert}' }, { type: 'danger', placement: { from: 'top', align: 'center'}});" %>   
<% end %>

<% unless devise_error_messages!.blank? %>
    <% resource.errors.full_messages.each do |message| %>
       <%= javascript_tag "$.notify({ message: '#{message}' }, { type: 'danger', placement: { from: 'top', align: 'center'}});" %>
    <% end %>
<% end %>    